<div class="brand">
    <img src="assets/icon.png" alt="logo">
    <p>My Canva</p>
</div>
<div class="user" *ngIf="user" [cdkMenuTriggerFor]="menu">
    <img [src]="user.avatar" [alt]="user.fullName[0].toLocaleUpperCase()">
</div>

<ng-template #menu>
    <div class="menu" cdkMenu>
        <div class="item" cdkMenuItem (click)="showUserInfo()">
            <ng-icon name="heroUser" size="20"></ng-icon>
            <p>Profile</p>
        </div>
        <div class="item" cdkMenuItem (click)="logout()">
            <ng-icon name="heroArrowLeftOnRectangle" size="20"></ng-icon>
            <p>Logout</p>
        </div>
    </div>
</ng-template>