<div class="dialog">
    <div class="cover" (click)="onClose()"></div>
    <form (submit)="onSubmit($event)" [formGroup]="submitForm">
        <h2>Change Password</h2>
        <p class="info">Enter a new password.</p>

        <p class="error" *ngIf="errorResponse.isActive">{{errorResponse.message}}</p>

        <label for="password">Password</label>
        <div class="field">
            <input class="inp" id="password" [type]="isPasswordVisible? 'text':'password'" formControlName="password"
                placeholder="Enter a Password">
            <ng-icon [name]="isPasswordVisible? 'heroEyeSlash':'heroEye'" size="25"
                (click)="togglePasswordVisibility()"></ng-icon>
            <p *ngIf="password.touched && password.errors?.['required']">Password required.</p>
            <p *ngIf="password.touched && password.errors?.['minlength']">Password must be at least 8 characters
                long.</p>
            <p *ngIf="password.touched && password.errors?.['pattern']">Password must contain a capital letter and a
                number.
            </p>
        </div>

        <label for="confirmPassword">Confirm Password</label>
        <div class="field">
            <input class="inp" id="confirmPassword" [type]="isConfirmPasswordVisible? 'text':'password'"
                formControlName="confirmPassword" placeholder="Enter a Confirm Password">
            <ng-icon [name]="isConfirmPasswordVisible? 'heroEyeSlash':'heroEye'" size="25"
                (click)="toggleConfirmPasswordVisibility()"></ng-icon>
            <p *ngIf="confirmPassword.touched && confirmPassword.errors?.['required']">Confirm Password required.
            </p>
            <p *ngIf="confirmPassword.touched && confirmPassword.errors?.['passwordMismatch']">Confirm Password
                mismatch.
            </p>
        </div>
        <div class="utils">
            <input class="btn" type="button" value="Cancel" (click)="onClose()">
            <input class="btn" type="submit" value="Change" [disabled]="!submitForm.valid">
        </div>
    </form>
</div>